if SHIELD_JANKYSPLIT_LEFT
  
config ZMK_KEYBOARD_NAME
    default "jankysplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_PERIPHERAL_COUNT=1
endif

if SHIELD_JANKYSPLIT_RIGHT

config ZMK_SPLIT
    default y

CONFIG_ZMK_SPLIT_ROLE_CENTRAL=n

endif